.container-image {
    background-image: url(./11.png);
    width: 100vw;
    height: 90vh;
    border-radius: 20px;
    position: relative;
}

.container-image button {
    margin-top: 80vh;
    margin-left: 7%;
    padding: 1%;
    background-color: #00e759;
    color: black;
    border: none;
    text-align: center;
    position: absolute;
}

.container-image1 {
    background-image: url(./24.png);
    width: 100vw;
    height: 130vh;
    border-radius: 20px;
    position: relative;
}
.container-image2 {
    background-image: url(./27.png);
    width: 100vw;
    height: 130vh;
    border-radius: 20px;
    position: relative;
}

.container-image1 button {
    margin-top: 120vh;
    margin-left: 7%;
    padding: 1%;
    background-color: #00e759;
    color: black;
    border: none;
    text-align: center;
    position: absolute;
}
.container-image2 button {
    margin-top: 100vh;
    margin-left: 7%;
    padding: 1%;
    background-color: #00e759;
    color: black;
    border: none;
    text-align: center;
    position: absolute;
}
.services h1,
.services .card-body {
    text-align: center;
    line-height: 100%;
    margin: 0 auto;
    background-color: white;
    color: black;

}

button {
    border-radius: 20px;
}

.image-card-container {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
}

.image-card {
    flex: 0 0 calc(60% / 5);
    text-align: center;
    padding: 10px;
}

@media (min-width: 768px) {
    .image-card:first-child {
        flex: 0 0 calc(70% / 5 * 4);
    }
}

div.rides {
    width: 20%;
    display: inline-block;
}

.icon {
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(gray) !important;
}

.title {
    width: 300px;
    margin: 10px;
    text-align: center;
    background: transparent;
    padding: 20px;
}

.title img {
    max-width: 100%;
    height: auto;
}

.hero4,
.hero5,
.hero6,
.hero7,
.hero8,
.hero9 {
    padding: 20px;
    ;
}

.header4,
.header5,
.header6,
.header7,
.header8,
.header9 {
    width: 80%;
    display: flex;
    margin: 10px auto;
}

.text4,
.text5,
.text6,
.text7,
.text8,
.text9 {
    width: 50%;
}

.hero-image4 img,
.hero-image5 img,
.hero-image6 img,
.hero-image7 img {
    width: 100%;
    float: right;
    border-radius: 20px;
}
.hero8{
    background-image: linear-gradient(#c3ffc5,#8aff8b);
}
.go1 {
    background-color: blue;
    color: white;
    border-radius: 20px;
}

.go2 {
    background-color: #d2ffd5;
    color: #296629;
    border-radius: 20px;
    padding-left: 10%;
}

.go3 {
    background-color: #7f5ffa;
    color: #b5f1db;
    border-radius: 20px;
    padding-left: 10%;
}

.go4 {
    background-color: #001942;
    color: white;
    border-radius: 20px;
    border-radius: 20px;
    padding-left: 10%;
}